    {% extends 'temp.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load i18n static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing" style="color: white">
            <hr class="featurette-divider">


            {% if validlink %}

                <h4>Wpisz swoje nowe hasło dwukrotnie:</h4>

                <form method="post">
                    {% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="form-row field-password1">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">Nowe hasło:</label>
                            <input class="form-control" {{ form.new_password1 }}
                            <p><br></p>
                        </div>
                        <div class="form-row field-password2">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Powtórz nowe hasło:</label>
                            <input class="form-control" {{ form.new_password2 }}
                            <p><br></p>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input class="btn btn-primary btn-lg me-md-2" type="submit" value="Zmień hasło">
                        </div>
                    </fieldset>
                </form>

            {% else %}

                <h4 class="text-center">Link do resetowania hasła jest nieważny, prawdopodobnie dlatego, że został już użyty. Proszę poprosić o nowy reset hasła.</h4>

            {% endif %}

            <hr class="featurette-divider">

        </div>
    {% endblock %}
