    {% extends 'temp.html' %}
    {% load static %}
    {% load i18n static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing text-center" style="color: white">
            <hr class="featurette-divider">

            <h4>Twoje hasło zostało zmienione. Możesz teraz przejść i zalogować się.</h4>
            <p><br></p>

            <a class="btn btn-lg btn-success" href="{% url 'accounts:login' %}" role="button">Zaloguj się</a>

            <hr class="featurette-divider">

        </div>
    {% endblock %}
