    {% extends 'temp.html' %}
    {% load i18n static %}
    {% load crispy_forms_tags %}
    {% load static %}
    {% block content %}


        <!-- Strona -->

        <div class="container marketing" style="color: white">
        <hr class="featurette-divider">

        <h4>Zapomniałeś swojego hasła? Wpisz swój adres e-mail poniżej, a wyślemy Ci instrukcje dotyczące ustawienia nowego.</h4>

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    <label for="id_email"></label>
                    {{ form.email | as_crispy_field }}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input class="btn btn-warning btn-lg me-md-2" type="submit" value="Resetuj hasło">
                </div>
            </fieldset>
        </form>

        <hr class="featurette-divider">

        </div>

    {% endblock %}
