    {% extends 'temp.html' %}
    {% load static %}
    {% load i18n %}
    {% block content %}


        <!-- Strona -->


        <div class="container marketing text-center" style="color: white">
            <hr class="featurette-divider">

            <h4>Wysłaliśmy Ci instrukcje dotyczące ustawiania hasła na podany przez Ciebie adres e-mail, jeśli konto istnieje powinieneś je wkrótce otrzymać.</h4>

            <h4>Jeśli nie otrzymasz maila, upewnij się, że podałeś adres, na który się zarejestrowałeś i sprawdź folder spam.</h4>
            <hr class="featurette-divider">

        </div>

    {% endblock %}
