    {% extends 'temp.html' %}
    {% load static %}
    {% load i18n static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing" style="color: white">
            <hr class="featurette-divider">

            <form method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                                {% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}


                    <p style="font-size: 20px">Dla bezpieczeństwa proszę wpisać stare hasło, a następnie dwukrotnie wpisać nowe hasło, abyśmy mogli sprawdzić, czy wpisałeś je poprawnie.</p>

                    <fieldset class="module aligned wide">

                        <div class="form-row">
                            {{ form.old_password.errors }}
                             <label class="form-label">Stare hasło: </label>
                             <input class="form-control" {{ form.old_password }}
                             <p><br></p>
                        </div>

                        <div class="form-row">
                            {{ form.new_password1.errors }}
                            <label class="form-label">Nowe hasło: </label>
                            <input class="form-control" {{ form.new_password1 }}
                            <p><br></p>
                        </div>

                        <div class="form-row">
                            {{ form.new_password2.errors }}
                            <label class="form-label">Powtórz nowe hasło: </label>
                            <input class="form-control"{{ form.new_password2 }}
                            <p><br></p>
                        </div>

                    </fieldset>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input class="btn btn-info btn-lg me-md-2" type="submit" value="Zmień hasło">
                    </div>

                </div>
            </form>
        </div>
        <hr class="featurette-divider">

        </div>
    {% endblock %}

