    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Doradztwo {{ dat }}</h2>
                    <p class="lead text-white"><br> <strong>W ramach współpracy mogę realizować dla klientów następujące
                        działania:</strong>
                    </p>
                    <p class="lead text-white"><br> Obsługa firm w ramach umowy (zadania służby BHP) </p>
                    <p class="lead text-white"><br> <strong>Podstawa prawna działalności służby BHP stanowi Kodek Pracy art.
                        237 oraz przepis wykonawczy – Rozporządzenia Rady ministrów z dnia 2 września 1997r w sprawie służby
                        bezpieczeństwa i higieny pracy (Dz. U. nr. 109 poz. 704 z póź. zm.). </strong></p>
                    <p class="lead text-white"><br> Wygodnym i kompleksowym rozwiązaniem jest powierzenie zadań służby BHP
                        inspektorom spoza zakładu pracy. Korzystanie z usług firm zewnętrznych należy do najefektywniejszych
                        i najtańszych strategii zarządzania przedsiębiorstwem. </p>

                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/doradztwo2.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <p class="featurette-heading fw-normal lh-1">W ramach świadczenia stałych usług na rzecz zakładów pracy
                        proponuję:</p>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Doradztwo w zakresie obowiązujących przepisów i zasad BHP,</li>
                        <li>Przeprowadzanie kontroli warunków pracy oraz przestrzegania przepisów BHP,</li>
                        <li>Bieżące informowanie pracodawcy o stwierdzonych brakach i zagrożeniach, wraz z przedstawieniem
                            wniosków profilaktycznych w celu likwidacji,
                        </li>
                        <li>Pomoc w opracowaniu przepisów wewnętrznych regulujących zagadnienia BHP,</li>
                        <li>Sporządzanie dokumentacji powypadkowej dla wypadków przy pracy, w drodze do lub z pracy,
                            stwierdzonych chorób zawodowych i podejrzeń o takie choroby,
                        </li>


                    </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'order/img/doradztwo.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <ul class="lead text-white">
                        <li>Współudział w reprezentowaniu Zleceniodawcy przed Państwową Inspekcją Pracy i Państwową
                            Inspekcja Sanitarną,
                        </li>
                        <li>Prowadzenie rejestru wymaganych przez Państwową Inspekcje Pracy,</li>
                        <li>Doradztwo w zakresie zapewnienia pracownikom właściwej odzieży roboczej i środków ochrony
                            indywidualnej,
                        </li>
                        <li>Sporządzanie raz w roku analiz stanu BHP zawierających propozycje poprawy warunków pracy,</li>
                        <li>Przeprowadzanie szkoleń wstępnych ogólnych i okresowych dla wszystkich pracowników firmy,</li>
                        <li>Udział w wykonywaniu badań środowiskowych,</li>
                        <li>Pomoc w sporządzaniu dokumentacji oceny ryzyka zawodowego,</li>
                        <li>Opracowanie instrukcji do maszyn i urządzeń,</li>
                        <li>Jednocześnie deklarujemy indywidualne spotkania z Państwem w celu ustalania cen, terminów i form
                            płatności.
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/doradztwo3.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>

    {% endblock %}
