    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Kontakt</h2>
                    <p class="lead text-white"><br> <br>ALT-BHP <br> Dariusz Kokoszkiewicz <br> <br> ul. Matejki 2, 19-300
                        Ełk <br> <br> <strong>tel. 600 31 14 29</strong> <br> e-mail: kontakt@altbhp.elk.pl </p>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2355.6865050343054!2d22.359097816173765!3d53.812861880079424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e1b99c0df50967%3A0xf4c474bb024544a!2sJana+Matejki+2%2C+E%C5%82k!5e0!3m2!1spl!2spl!4v1476037082321"
                            width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <hr class="featurette-divider">

        </div>


    {% endblock %}
