    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Co to jest „ryzyko zawodowe”?</h2>
                    <p class="lead text-white"><br> <br>Oznacza prawdopodobieństwo wystąpienia niepożądanych zdarzeń
                        związanych z wykonywaną pracą, powodujących straty, w szczególności wystąpienia u pracowników
                        niekorzystnych skutków zdrowotnych będących wynikiem zagrożeń zawodowych występujących w środowisku
                        pracy lub związanych ze sposobem pracy.</p>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/ocena.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <p class="featurette-heading fw-normal lh-1">Czy przeprowadzenie oceny ryzyka przez pracodawcę jest
                        konieczne?</p>
                    <p class="lead text-white"><br> <br> Przeprowadzenie oceny ryzyka jest podstawowym obowiązkiem
                        Pracodawcy wynikającym z ustawy Kodeks pracy. <br> „Pracodawca ocenia i dokumentuje ryzyko zawodowe
                        związane z wykonywaną pracą oraz stosuje niezbędne środki profilaktyczne zmniejszające ryzyko.
                        Informuje pracowników o ryzyku zawodowym, które wiąże się z wykonywaną pracą oraz o zasadach ochrony
                        przed zagrożeniami”.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'order/img/ocena2.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Kiedy przeprowadzamy następną ocenę ryzyka na stanowisku
                        pracy?</h2>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Przy tworzeniu nowych stanowisk pracy,</li>
                        <li>Przy wprowadzeniu zmian organizacyjno-technologicznych,</li>
                        <li>W razie zdarzenia wypadkowego,</li>
                        <li>Po wprowadzeniu zmian w stosowanych środkach ochronnych.</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/ocena3.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Firma ALT-BHP proponuje pomoc w wypełnieniu powyższych
                        obowiązków poprzez:</h2>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Przeprowadzenie oceny ryzyka zawodowego w Państwa Firmie,</li>
                        <li>Sporządzenie odpowiedniej dokumentacji w tym zakresie,</li>
                        <li>Sporządzenie planu poprawy warunków pracy.</li>
                    </ul>
                    <p class="lead text-white">Ocena ryzyka jest niczym innym jak szczegółowym, dokładnym sprawdzeniem i
                        oceną tego, co w miejscu pracy może zaszkodzić lub wyrządzić krzywdę ludziom. Służy także temu, aby
                        ocenić czy zastosowano wystarczające środki zaradcze lub też po to, aby określić co należy zrobić,
                        aby te szkodliwe warunki ograniczyć lub wyeliminować.</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/ocena4.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>
    {% endblock %}