    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}


        <!-- Strona -->


        <div class="container marketing text-center " style="color: white">
            <hr class="featurette-divider">


            <h1>Oferta</h1>
            <br><br>
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <div class="col">
                    <div class="card border-dark text-bg-light mb-3 h-100" style="width: 15rem;">
                        <div class="card-header "><h5>Szkolenie Pierwsza Pomoc</h5></div>
                        <div class="card-body">
                            <p class="card-text" >Okres ważności: ∞</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-secondary">Wszystkie stanowiska: 100zł/os.</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="/zamowienie/szkolenie_pp/" class="btn btn-success">Zamów</a></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark text-bg-light mb-3 h-100" style="width: 15rem;">
                        <div class="card-header"><h5>Szkolenie Przeciwpożarowe</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="color: black">Okres ważności: ∞</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-secondary">Wszystkie stanowiska: 100zł/os.</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="/zamowienie/szkolenie_opp/" class="btn btn-success">Zamów</a></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark text-bg-light mb-3 h-100" style="width: 15rem;">
                        <div class="card-header"><h5>Instrukcja Ochrony Przeciwpożarowej</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="color: black">Okres ważności: ∞</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-secondary">Zależne od wielkości budynku: 1000-5000zł</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="/zamowienie/instrukcja_opp/" class="btn btn-success">Zamów</a></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark text-bg-light mb-3 h-100" style="width: 15rem;">
                        <div class="card-header"><h5>Ocena Ryzyka Zawodowego</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="color: black">Okres ważności: ∞</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-secondary">Wszystkie stanowiska: 100zł/os.</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="/zamowienie/ocena_ryzyka/" class="btn btn-success">Zamów</a></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark text-bg-light mb-3 h-100" style="width: 15rem;">
                        <div class="card-header"><h5>Przeprowadzenie Audytów</h5></div>
                        <div class="card-body">
                            <p class="card-text" style="color: black">Okres ważności: ∞</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-secondary">Zależne od wielkości firmy: 400zł</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="/zamowienie/audyt/" class="btn btn-success">Zamów</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>
            <div class="row">
                <div class="col" style="margin-left: 235px">
                        <div class="card border-dark text-bg-light mb-3 h-100" style="width: 18rem;">
                            <div class="card-header"><h5>Szkolenie Wstępne</h5></div>
                            <div class="card-body">
                                <p class="" style="color: black">Okres ważności: 36 miesięcy</p>
                                <p>Na stanowiska niebezpieczne: <br>6 miesięcy</p>
                                <p>Na stanowiska kierownicze: <br>12 miesięcy</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-bg-secondary">Zwykłe stanowiska: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska kierownicze: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska niebezpieczne: 50zł/os.</li>
                            </ul>
                            <div class="card-footer">
                                <small class="text-muted"><a href="/zamowienie/szkolenie_wstepne/" class="btn btn-success">Zamów</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-dark text-bg-light mb-3 h-100" style="width: 18rem;">
                            <div class="card-header"><h5>Szkolenie Okresowe</h5></div>
                            <div class="card-body">
                                <p class="" style="color: black">Okres ważności: 36 miesięcy</p>
                                <p>Na stanowiska niebezpieczne: <br>6 miesięcy</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-bg-secondary">Stanowiska kierownicze: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska robotnicze: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska administracyjno-biurowe: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska inżynieryjno-techniczne: 50zł/os.</li>
                                <li class="list-group-item text-bg-secondary">Stanowiska służby BHP: 50zł/os.</li>
                            </ul>
                            <div class="card-footer">
                                <small class="text-muted"><a href="/zamowienie/szkolenie_okresowe/" class="btn btn-success">Zamów</a></small>
                            </div>
                        </div>
                    </div>
                </div>

            <hr class="featurette-divider">

        </div>

    {% endblock %}