    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Pierwsza pomoc </h2>
                    <p class="lead text-white"><br> <br><strong>Szkolenie z „Pierwszej pomocy w stanach zagrożenia
                        życia”</strong>
                    </p>
                    <ul class="lead text-white">
                        <li>Forma zajęć : wykład oraz ćwiczenia praktyczne,</li>
                        <li>Czas trwania – 5 x 45 min,</li>
                        <li>Zapewniamy profesjonalny sprzęt szkoleniowy, wykwalifikowanych ratowników medycznych,</li>
                        <li>Uczestnicy otrzymują materiały szkoleniowe oraz zaświadczenie o ukończeniu szkolenia.</li>
                    </ul>

                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/pomoc.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <p class="featurette-heading fw-normal lh-1">Zajęcia praktyczne mogą obejmować:</p>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Ćwiczenia resuscytacji krążeniowo – oddechowej na fantomie z użycie defibrylatora (wykonywanie
                            pośredniego masażu serca),
                        </li>
                        <li>Postępowanie w przypadku wypadków komunikacyjnych,</li>
                        <li>Pracowników administracyjno – biurowych,</li>
                        <li>Zasady postępowania z poszkodowanymi z podejrzeniem urazu kręgosłupa.</li>
                    </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'order/img/pomoc2.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Przykładowy zakres tematów omawianych podczas zajęć
                        teoretycznych:</h2>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Pierwsza pomoc – aspekty prawne,</li>
                        <li>Apteczka pierwszej pomocy,</li>
                        <li>Zabezpieczanie miejsca zdarzenia,</li>
                        <li>Zasady ewakuacji poszkodowanych,</li>
                        <li>Resuscytacja krążeniowo – oddechowa,</li>
                        <li>Resuscytacja krążeniowo – oddechowa u dzieci,</li>
                        <li>Pozycja boczna bezpieczna,</li>
                        <li>Zasady opatrywania urazów,</li>
                        <li>Postępowanie w przypadku zadławienia,</li>
                        <li>Porażenie prądem, porażenie piorunem,</li>
                        <li>Zatrucia,</li>
                        <li>Zawał mięśnia sercowego,</li>
                        <li>Omdlenia,</li>
                        <li>Postępowanie w przypadku ataku padaczki,</li>
                        <li>Zasady opatrywania urazów.</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/pomoc3.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>

    {% endblock %}