        {% extends 'temp.html' %}
        {% load static %}
        {% block content %}


        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Szkolenia</h2>
                    <p class="lead text-white"><br> <br><strong>Organizacja i prowadzenie szkoleń w zakresie BHP</strong>
                    </p>
                    <ul class="lead text-white">
                        <li>Nasi wykładowcy to grono wyspecjalizowanych fachowców z dziedziny bezpieczeństwa i higieny pracy
                            (BHP), ochrony przeciwpożarowej (P.POŻ), udzielania pierwszej pomocy z wieloletnią praktyka i
                            doświadczeniem zawodowym.
                        </li>
                        <li>Organizacja i prowadzenie szkoleń w zakresie BHP.</li>
                        <li>Organizacja szkoleń pracy na wysokości.</li>
                        <li>Organizacja szkoleń BHP dla rolnictwa.</li>
                    </ul>

                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/szkolenie2.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <p class="featurette-heading fw-normal lh-1">Szkolenia wstępne i okresowe dla:</p>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Pracodawców,</li>
                        <li>Osób kierujących pracownikami,</li>
                        <li>Pracowników administracyjno – biurowych,</li>
                        <li>Pracowników zatrudnionych na stanowiskach robotniczych,</li>
                        <li>Inżynieryjno – technicznych (w tym projektanci, konstruktorzy maszyn i innych urządzeń
                            technicznych, technolodzy i organizatorzy produkcji).
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'order/img/szkolenie.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Szkolenia okresowe przeprowadzane metodą samokształcenia
                        kierowanego dla:</h2>
                    <p><br></p>
                    <ul class="lead text-white">
                        <li>Pracodawców,</li>
                        <li>Osób kierujących pracownikami,</li>
                        <li>Pracowników administracyjno-biurowych.</li>
                    </ul>
                    <p class="lead text-white"><br> Zalety tej formy szkolenia jest możliwość jego zorganizowania bez
                        odrywania zatrudnionych od pracy. Polega na dostarczeniu materiałów szkoleniowych a następnie
                        przeprowadzenie egzaminu sprawdzającego w formie testu gwarantując jednocześnie właściwe
                        przyswojenie wiedzy.

                        Oferta firmy jest kierowana do wszystkich pracodawców i branż, którzy cenią sobie wysoki standard
                        usług, przystępne ceny oraz terminową realizację zleceń. </p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'order/img/pierwsza.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>

        {% endblock %}
