    {% extends 'temp.html' %}
    {% load static %}
    {% block content %}

        <!-- Strona -->


        <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col">
                    <h2 class="featurette-heading fw-normal lh-1">Wypadki przy pracy</h2>
                    <p class="lead text-white"><br> <br>Za wypadek przy pracy uważa się nagłe zdarzenie, wywołane przyczyną
                        zewnętrzną, powodujące śmierć lub uszczerbek na zdrowiu.<br> <br><strong>RODZAJE WYPADKÓW PRZY
                            PRACY</strong><br><br>Śmiertelny wypadek przy pracy to wypadek, w wyniku którego nastąpiła
                        śmierć w okresie nieprzekraczającym sześć miesięcy od dnia wypadku.<br> <br>Za ciężki wypadek przy
                        pracy uważa się wypadek, na skutek którego nastąpiło ciężkie uszkodzenie ciała, takie jak: utrata
                        wzroku, słuchu, mowy, zdolności rozrodczej, inne uszkodzenie ciała albo rozstrój zdrowia,
                        naruszające podstawowe funkcje organizmu, choroba nieuleczalna lub zagrażająca życiu, trwała choroba
                        psychiczna, całkowita lub częściowa niezdolność do pracy w zawodzie, trwałe, istotne zeszpecenie lub
                        zniekształcenie ciała.<br><br>Jeżeli wypadkowi, w wyniku tego samego zdarzenia, uległy co najmniej
                        dwie osoby, to mówimy o wypadku zbiorowym.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <p class="featurette-heading fw-normal lh-1">Wypadek w drodze do pracy i z pracy</p>
                    <p class="lead text-white"><br> Ubezpieczony, który uległ wypadkowi w drodze do pracy lub z pracy,
                        zawiadamia niezwłocznie o tym fakcie pracodawcę lub podmiot, na rzecz którego miał świadczyć lub
                        świadczył pracę.
                        Ustalenia dotyczące okoliczności i przyczyn wypadku w drodze do pracy lub z pracy zamieszcza się w
                        karcie wypadku w drodze do pracy lub z pracy. Dla ubezpieczonych będących pracownikami, kartę
                        sporządza pracodawca, a dla pozostałych ubezpieczonych – podmiot wymieniony w art. 5 ust. 1 ustawy z
                        dnia 30 października 2002 r. o ubezpieczeniu społecznym z tytułu wypadków przy pracy i chorób
                        zawodowych (Dz. U. Nr 199, poz. 1673 z późn. zm.).</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'order/img/wypadek.jpg' %}" class="d-block w-100" alt="..." height="426"
                         width="640" style="border-radius:20px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col">
                    <p class="featurette-heading fw-normal lh-1">Działanie przy wypadku przy pacy</p>
                    <p class="lead text-white"><br> W razie wypadku przy pracy pracodawca jest obowiązany podjąć niezbędne
                        działania eliminujące lub ograniczające zagrożenie, zapewnić udzielenie pierwszej pomocy osobom
                        poszkodowanym i ustalenie w przewidzianym trybie okoliczności i przyczyn wypadku oraz zastosować
                        odpowiednie środki zapobiegające podobnym wypadkom. <br> <br> Pracodawca jest obowiązany
                        niezwłocznie zawiadomić właściwego inspektora pracy i prokuratora o śmiertelnym, ciężkim lub
                        zbiorowym wypadku przy pracy oraz o każdym innym wypadku, który wywołał wymienione skutki, mającym
                        związek z pracą, jeżeli może być uznany za wypadek przy pracy. Pracodawca jest obowiązany prowadzić
                        rejestr wypadków przy pracy. Koszty związane z ustalaniem okoliczności i przyczyn wypadków przy
                        pracy ponosi pracodawca. <br> <br> Sporządzamy kompletną dokumentację powypadkową. Ustalanie
                        okoliczności i przyczyn wypadków przy pracy oraz opracowywanie wniosków wynikających z badania
                        przyczyn i okoliczności tych wypadków. </p>
                </div>
            </div>

            <hr class="featurette-divider">
        </div>

    {% endblock %}
